body {
  background: #ee9ca7;
  background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7);
  background: linear-gradient(to right, #ffdde1, #ee9ca7);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  overflow-x: hidden;
}

.main {
  border: dotted 3px #FFE0AB;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  color: white;
  padding: 10px;
  background: #ee9ca7;
  width: 450px;
}

.steps {
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: bold;
  margin: 0;
  padding-bottom: 2px;
  border-bottom: solid 3px #FFE0AB;
}

.calculator-banner {
  background-color: #ee9ca7;
  border-radius: 10px;
  border: dotted 3px #FFE0AB;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  color: white;
  padding: 10px;
  text-align: center;
  width: 450px;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.btn-container button {
  background-color: #FFE0AB;
  border: none;
  border-radius: 20px;
  color: #EB8FA6;
  font-weight: bold;
  font-size: 16px;
  height: 40px;
  margin-bottom: 10px;
  width: 100px;
  cursor: pointer;
  transition: .7s ease-in-out;
}

.btn-container button:hover {
  font-size: 17px;
  transform: rotate(360deg);
}

.calculators-container {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  width: 55%;
}

.calculator-container {
  background-color: #C7C7C7;
  border: solid 2px darkgray;
  border-radius: 5px;
  display: flex;
  height: 165px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  width: 150px;
}

.calculator-display {
  background: #596777;
  color: rgb(110, 206, 250);
  text-align: end;
  font-weight: bold;
  border-radius: 5px;
  margin: 5px 3px 10px 3px;
  padding: 5px 10px 5px 0px;
  width: 75%;
  height: 20px;
}

.calculator-container .first-row {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.calculator-container .first-row span{
  background: #E7E7E7;
  color: #6A7A8E;
  padding: 8px;
  margin-bottom: 5px;
  height: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  width: 10px;
}

footer {
  margin-top: 30px;
  /* border-radius: 10px; */
  background-color: #ee9ca7;
  color: white;
  position: absolute;
  bottom: 0;
  padding: 5px 0px;
  padding-left: 20px;
  width: 100%;
  /* text-align: center; */
}